<header>
    <nav>

        <h3>Usando link HTML Puro</h3>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/404">Error</a>
            </li>
        </ul>

        <h3>Rotas Angular</h3>
        <ul>
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>
                <a routerLink="/about">About</a>
            </li>
            <li>
                <a routerLink="/404">Error</a>
            </li>
        </ul>

        <h3>Rotas Angular Parametrisadas </h3>
        <ul>
            <li>
                <a routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Home</a>
            </li>
            <li>
                <a routerLink="/about" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">About</a>
            </li>
            <li>
                <a routerLink="/dashboard" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
            </li>
            <li>
                <a [routerLink]="['/404']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Error</a>
            </li>
        </ul>
    </nav>
</header>